<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS</title>
</head>
<body>
    <p>You have a new message from {{.Name}}</p>
    <a href="{{.URL}}"><p>click for more info...</p></a>   
</body>
</html>